<style>
    .center {

  text-align: center;
  padding-bottom: 15px;
}

</style>

<div class="center">
<a style = " margin-bottom: 10px; color: #fff; background-color: #01A982;" class="btn btn-outline-success my-2 my-sm-0"  (click)="loginWithRedirectIndividual()"> Login as Individual (B2C) </a>
</div>
<div class="center">
  <a style = " margin-left: 10px; color: #fff; background-color: #01A982;" class="btn btn-outline-success my-2 my-sm-0" *ngIf="(auth.isAuthenticated$ | async) === false" (click)="loginPasswordless()"> Passwordless </a> 
</div>
<div class="center">
<a style = " margin-bottom: 10px; color: #fff; background-color: #007edd;" class="btn btn-outline-success my-2 my-sm-0"  (click)="loginWithRedirectABC()"> Login as Team member of ABC Org (B2B) </a>
</div>